* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
h2 {
    font-size: 6em;
    font-family: sans-serif;
    color: #333;
}

h2 span {
    animation: light-animation 1000ms linear infinite;
}

h2 span:nth-child(1) {
    animation-delay: 0ms;
}
h2 span:nth-child(2) {
    animation-delay: 200ms;
}
h2 span:nth-child(3) {
    animation-delay: 400ms;
}
h2 span:nth-child(4) {
    animation-delay: 600ms;
}
h2 span:nth-child(5) {
    animation-delay: 800ms;
}


@keyframes light-animation {
    0%, 80% {
        color: #333;
        text-shadow: none;
    }
    100%{
        color: #fff;
        text-shadow: 0 0 10px #fff,
                     0 0 20px #fff,
                     0 0 40px #fff,
                     0 0 80px #fff,
                     0 0 120px #fff,
                     0 0 160px #fff;
    }
}